  <!-- tab list -->
  <div ng-controller="MainCtrl">
      <table class="table table-bordered table-striped">
            
            <div ng-hide="errorDisplay" class="ng-hide" id='errorManagement'>

             <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">{{retourAction}}</button>
             <hr>
              <div collapse="isCollapsed" >
                <div class="well well-lg">{{error}}</div> 
              </div>
          </div>
            <thead>
                <div ui-sortable ng-model='search'>
                  <tr>
                    <th><input ng-model='search.username' placeholder='Username...'/></th>
                    <th><input ng-model='search.email'   placeholder='Email...'/></th>
                    <th><button type="button" class="btn btn-create btn-sm" ng-click="createUser()">+</button></th>
                  </tr>
                </div>
          </thead>
            <div ui-sortable ng-model='users'>
                <tbody>
                    <tr ng-repeat="user in users | filter:search | orderBy:'username'">
                            <td> <input type="text" ng-model="user.username" class="form-control" style="padding:5px 10px"></td>
                            <td> <input type="text" ng-model="user.email" class="form-control" style="padding:5px 10px"></td>
                            <td>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-warn btn-sm" ng-click="updateUser(user)">Modifier</button>
                                   -
                                <button type="button" class="btn btn-danger btn-sm" ng-click="deleteUser(user)">Supprimer</button>
                             </span>
                           </td>
                    </tr>
               </tbody>
            </div>  
      </table>
  </div>

